<section class="about__page">
    <h1 class="title">
        Rick and Morty GraphQL APP
    </h1>
    <div class="about__container">
        <p class="about__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio adipisci delectus ipsam aut illum maiores quod, vel dolorem! Perspiciatis esse officia provident itaque, optio ducimus culpa non commodi? Dolor?
        </p>
        <figure class="about__img">
            <img src="/assets/imgs/web_dev.svg" alt="Web Dev" class="about__picture" rel="preload" as="image" width="406" height="306">
        </figure>
    </div>
    <p class="about__copy">
        Devloped by <span class="text-white">Antonio Franceskin </span>
    </p>
</section>